@{
    ViewData["Title"] = "Gallery";
}
<p>
    <button float="left" type="button" class="btn btn-light"><a href="https://localhost:44394/SignIns/Success">Main Menu</a></button>
</p>



<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="~/css/pic1.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic1" />

        <img src="~/css/pic2.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic2" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="~/css/pic3.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic3" />

        <img src="~/css/pic4.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic4" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="~/css/pic5.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic5" />

        <img src="~/css/pic6.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic6" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="~/css/pic7.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic7" />

        <img src="~/css/pic8.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic8" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="~/css/pic9.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic9" />

        <img src="~/css/pic10.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="pic10" />
    </div>
</div>